<div class="row">
    <div class="col-auto" *ngFor="let photo of photos" style="margin: 10px">
        <div>{{photo.username | titlecase}}</div>
        <img src="{{photo.url}}" alt="{{photo.url}}" class="img-thumbnail p-1">
        <div class="text-center">
            <button
                (click)="approvePhoto(photo.id)"
                class="btn btn-sm btn-success m-1"
            >Approve</button>
            <button 
                (click)="rejectPhoto(photo.id)"
                class="btn btn-sm btn-danger"
            >Reject</button>
        </div>
    </div>
</div>